.icon, .logo, .avatar { background: url("/img/sprites.png") no-repeat; }
.add { width: 26px; height: 26px; background-position: -41px 0; }
.addlarge { width: 40px; height: 40px; background-position: 0 0; }
.addsmall { width: 26px; height: 26px; background-position: -41px -46px; }
.arrowleft { width: 40px; height: 40px; background-position: -119px 0; }
.arrowup { width: 40px; height: 40px; background-position: -160px 0; }
.avatar { width: 43px; height: 43px; background-position: -155px -41px; }
.checklarge { width: 50px; height: 40px; background-position: -68px 0; }
.clock { width: 15px; height: 15px; background-position: 0 -41px; }
.edit { width: 26px; height: 26px; background-position: -119px -69px; }
.explorelarge { width: 50px; height: 50px; background-position: -68px -41px; }
.flag { width: 15px; height: 15px; background-position: -146px -85px; }
.flaglarge { width: 40px; height: 40px; background-position: 0 -60px; }
.listfavorites { width: 26px; height: 26px; background-position: -41px -73px; }
.listflags { width: 26px; height: 26px; background-position: -41px -100px; }
.listplaylists { width: 26px; height: 26px; background-position: -132px -101px; }
.listrecent { width: 26px; height: 26px; background-position: -133px -128px; }
.listrelated { width: 26px; height: 26px; background-position: -106px -134px; }
.listsubcat { width: 26px; height: 26px; background-position: -133px -155px; }
.logo { width: 50px; height: 50px; background-position: -41px -177px; }
.loop { width: 35px; height: 19px; background-position: -162px -85px; }
.menusmall { width: 26px; height: 26px; background-position: -106px -161px; }
.muted { width: 40px; height: 40px; background-position: -68px -92px; }
.navarrow { width: 6px; height: 14px; background-position: -146px -69px; }
.pause { width: 40px; height: 40px; background-position: 0 -101px; }
.play { width: 40px; height: 40px; background-position: -160px -105px; }
.previous { width: 40px; height: 40px; background-position: 0 -142px; }
.shuffle { width: 35px; height: 27px; background-position: -119px -41px; }
.soundcloud { width: 64px; height: 43px; background-position: -41px -133px; }
.speakerloud { width: 40px; height: 40px; background-position: -160px -146px; }
.speakernormal { width: 40px; height: 40px; background-position: 0 -183px; }
.speakerquiet { width: 40px; height: 40px; background-position: -160px -187px; }
.speakersilent { width: 40px; height: 40px; background-position: -92px -188px; }
.subcatexpand { width: 26px; height: 26px; background-position: -133px -182px; }
.tabcontent { width: 22px; height: 18px; background-position: -41px -27px; }
.tabcontentlinks { width: 22px; height: 18px; background-position: -16px -41px; }
.tabhistory { width: 22px; height: 18px; background-position: -109px -96px; }
.tabrelated { width: 22px; height: 18px; background-position: -109px -115px; }
.tabtrackedits { width: 22px; height: 18px; background-position: -133px -209px; }

html
{
	height: 100%;
	overflow: hidden;
	min-width: 850px;
	min-height: 427px;
}

body
{
	background-color: #272531;
	height: 100%;
	overflow: hidden;
	position: relative;
	font-family: "PT Sans", sans-serif;
}

body, p
{
	margin: 0;
	padding: 0;
	border: 0;
}

textarea
{
	resize: none;
	font-family: Arial;
}

*:focus { outline: none; }
::-webkit-input-placeholder { color: #89878E; }
::-webkit-scrollbar
{
	height: 12px;
	width: 14px;
	background: #3D3749;
	border-left: 1px solid #292531;
	border-right: 1px solid #292531;
}
::-webkit-scrollbar-corner
{
	display: none;
}
::-webkit-scrollbar-thumb
{
	background: #6F6A7C;
	border-left: 1px solid #292531;
	border-right: 1px solid #292531;
}

body
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}
#content-right > .meta, #tabs .column .meta, #tab-content .content-info, #tabs .action .changes, #window p, #article-contents
{
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.h-flip { -webkit-transform: scaleX(-1); }
.v-flip { -webkit-transform: scaleY(-1); }


/* Header */

#header
{
	background-color: #3D3749;
	width: 100%;
	height: 50px;
	min-width: 700px;
	border-bottom: 1px solid #292531;
	text-align: center;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

#header .button
{
	width: 294px;
	height: 48px;
	text-align: left;
	line-height: 17px;
	padding: 1px 3px;
	display: none;
	cursor: pointer;
	position: relative;
	-webkit-transition: background-color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms;
	-o-transition: background-color ease-out 200ms;
	transition: background-color ease-out 200ms;
}
#header .button:hover
{
	background-color: #453F52;
}
#header .button.active, #header .button.active:hover
{
	background-color: #453F52;
}
#header-left
{
	width: 288px !important;
	padding-left: 9px !important;
}
#header-logo
{
	margin-left: auto;
	margin-right: auto;
	width: 50px !important;
	padding: 0 100px 2px 100px !important;
}
#header-right
{
	text-align: right !important;
}

#header .button .name
{
	color: #9F98B3;
	font-size: 16px;
	vertical-align: -11px;
	display: inline-block;
	position: relative;
	width: 280px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#header .button .name:after
{
	content: "\A";
	white-space: pre;
}
#header .button .details
{
	color: #D0CADE;
	font-size: 14px;
	display: inline-block;
	margin-top: -7px;
	position: absolute;
	top: 33px;
	width: 280px;
	left: 9px;
}

#playlist-name
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#playlist-name:empty::after
{
	content: "No active playlist" !important;
}
#playlist-access
{
	font-size: 13px;
	margin-left: 4px;
	color: #7A738C;
}
#playlist-details:empty::after
{
	content: "–";
}
#playlist-details-user
{
	font-size: 11px;
	margin-left: 5px;
	color: #C4BECF;
}
#playlist-details-avatar
{
	width: 13px;
	height: 13px;
	float: none;
	margin: 0 4px -2px 2px;
	border-radius: 100%;
	box-shadow: 0 1px 0 0 #222;
}

#user-avatar
{
	width: 43px;
	height: 43px;
	background-color: #EEE;
	margin: 3px 0 3px 9px;
	border-radius: 1px;
	box-shadow: 0 1px 0 0 #222;
	float: right;
}
#user-name
{
	display: inline !important;
	vertical-align: -7px !important;
}
#user-details
{
	left: 10px !important;
	width: 235px !important;
}


/* Sidebar */

#sidebar
{
	width: 300px;
	height: calc(100% - 101px);
	z-index: 1;
	position: absolute;
	background-color: #27252D;
	overflow: hidden;
	left: -300px;
	-webkit-transition: left ease-out 200ms;
	-moz-transition: left ease-out 200ms;
	-o-transition: left ease-out 200ms;
	transition: left ease-out 200ms;
}
#sidebar.visible
{
	left: 0;
}
#playlists-menu
{
	height: 37px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #292531;
	border-right: 1px solid rgba(41, 37, 49, 0.5);
	background-color: #E2E2E2;
	position: relative;
}
#playlist-active
{
	width: 100%;
	padding: 5px 10px 6px 4px;
	font-size: 14px;
	cursor: pointer;
	display: flex;
    align-items: center;
	-webkit-transition: background-color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms;
	-o-transition: background-color ease-out 200ms;
	transition: background-color ease-out 200ms;
}
#playlist-active .icon
{
	-webkit-filter: brightness(0.3) sepia(1) hue-rotate(200deg);
	opacity: 0.95;
}
#playlist-active .label
{
	margin-bottom: 1px;
	display: inline-block;
}
#playlist-active .navarrow
{
	display: inline-block;
	margin: 0 5px;
	vertical-align: -2px;
	opacity: 0.5;
}
#playlist-active:hover
{
	background-color: #EBEBEB;
}
#playlists-dropdown
{
	position: absolute;
	left: 0;
	top: 37px;
	z-index: 2;
	background-color: #E2E2E2;
	width: 0;
	height: calc(100vh - 139px);
	overflow-x: hidden;
	overflow-y: scroll !important;
	white-space: nowrap;
	border-top: 1px solid #4A4554;
	-webkit-transition: width ease-out 200ms;
	-moz-transition: width ease-out 200ms;
	-o-transition: width ease-out 200ms;
	transition: width ease-out 200ms;
}
#playlists-dropdown.visible
{
	width: 100%;
}
#playlists-dropdown::-webkit-scrollbar
{
	height: 12px;
	width: 13px;
	background: #B5B5B5;
	border-left: 1px solid #797979;
	border-right: none;
}
#playlists-dropdown::-webkit-scrollbar-thumb
{
	background: #E8E8E8;
	border-left: 1px solid #797979;
	border-right: none;
}
#playlists-dropdown .icon
{
	-webkit-filter: brightness(0.3) sepia(1) hue-rotate(200deg);
	opacity: 0.95;
	display: inline-block;
	margin: 5px 0px 0 4px;
}
#playlists-dropdown .label
{
	vertical-align: 8px;
	display: inline-block;
	font-size: 15px;
}
#playlists-dropdown .navarrow
{
	margin: 9px 7px 6px 17px;
}
#playlists-dropdown .dropdown-category
{
	margin-bottom: 10px;
}
#playlists-dropdown .dropdown-category:last-of-type
{
	margin-bottom: 0;
}
#playlists-dropdown .dropdown-subcat .subcatexpand
{
	float: right;
	margin-right: 2px;
}
#playlists-dropdown .dropdown-subcat .dropdown-item .label
{
	font-size: 14px;
}
#playlists-dropdown .dropdown-item, #playlists-dropdown .subcat-header
{
	background-color: rgba(0, 0, 0, 0);
	cursor: pointer;
	-webkit-transition: background-color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms;
	-o-transition: background-color ease-out 200ms;
	transition: background-color ease-out 200ms;
}
#playlists-dropdown .dropdown-item:nth-child(even), #playlists-dropdown .subcat-header:nth-child(even)
{
	background-color: #DDD;
}
#playlists-dropdown .dropdown-item:hover, #playlists-dropdown .subcat-header:hover
{
	background-color: #EAEAEA;
}
#playlists-dropdown .dropdown-item.active, #playlists-dropdown .dropdown-subcat.active .subcat-header
{
	background-color: #F1F1F1;
}
#playlists-dropdown .dropdown-item.active:hover, #playlists-dropdown .dropdown-subcat.active .subcat-header:hover
{
	background-color: #F3F3F3;
}
#playlists
{
	height: calc(100% - 78px);
	overflow-y: scroll;
}
#playlists:empty::after
{
	content: "No playlists.";
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #7A7A7A;
}
#playlists::-webkit-scrollbar
{
	height: 12px;
	width: 14px;
	background: #3E3946;
	border-left: 1px solid #292531;
	border-right: 1px solid #292531;
}
#playlists::-webkit-scrollbar-thumb
{
	background: #716E77;
	border-left: 1px solid #292531;
	border-right: 1px solid #292531;
}
#playlist-new
{
	padding: 6px 0 7px 4px;
	background-color: #4A4554;
	border-bottom: 1px solid #302C3A;
	color: #C8C4D4;
	font-size: 14px;
	display: flex;
	align-items: center;
	cursor: pointer;
	-webkit-transition: background-color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms;
	-o-transition: background-color ease-out 200ms;
	transition: background-color ease-out 200ms;
}
#playlist-new:hover
{
	background-color: #524D5B;
}
#playlist-new .icon
{
	opacity: 0.95;
}
#playlist-new .label::after
{
	content: "create new playlist";
	display: block;
	height: 18px;
}
.playlist 
{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #312D39;
	border-bottom: 1px solid #24212C;
	-webkit-transition: background-color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms;
	-o-transition: background-color ease-out 200ms;
	transition: background-color ease-out 200ms;
}
.playlist:hover
{
	background-color: #3B3743;
}
.playlist.active
{
	background-color: #C5C1CD;
}
.playlist.active:hover
{
	background-color: #CFCDD6;
}
.playlist:last-of-type
{
	border-bottom: none;
}
.playlist .info
{
	padding: 7px 9px;
	cursor: pointer;
}
.playlist .name, .playlist.details
{
	width: 220px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-transition: color ease-out 200ms;
	-moz-transition: color ease-out 200ms;
	-o-transition: color ease-out 200ms;
	transition: color ease-out 200ms;
}
.playlist .name
{
	color: #C9C6D2;
	font-size: 16px;
}
.playlist.active .name
{
	color: #302D39;
}
.playlist .details
{
	color: #A29DAF;
	font-size: 14px;
}
.playlist.active .details
{
	color: #555062;
}
.playlist > .icon
{
	display: inline-block;
	width: 26px;
	height: 26px;
	margin-right: 10px;
	float: right;
	opacity: 0.95;
	position: relative;
	cursor: pointer;
	-webkit-transition: color ease-out 200ms;
	-moz-transition: color ease-out 200ms;
	-o-transition: color ease-out 200ms;
	transition: color ease-out 200ms;
}
.playlist.active > .icon
{
	-webkit-filter: brightness(0.15) sepia(1) hue-rotate(200deg);
}
.playlist > .icon:after
{
	content: '';
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	top: 1px;
	left: -1px;
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 2px;
	-webkit-transition: border-color ease-out 200ms;
	-moz-transition: border-color ease-out 200ms;
	-o-transition: border-color ease-out 200ms;
	transition: border-color ease-out 200ms;
}
.playlist.active > .icon:after
{
	border: 1px solid rgba(0, 0, 0, 0);
}
.playlist > .icon:hover:after
{
	border: 1px solid rgba(255, 255, 255, 0.8);
}
.playlist.active > .icon:hover:after
{
	border: 1px solid rgba(0, 0, 0, 0.8);
}


/* Content */

#content
{
	background-color: #2E2A37;
	width: 100%;
	height: calc(100% - 101px);
	display: flex;
}

#content .side
{
	display: inline-block;
	height: 100%;
	position: relative;
}

#content-left
{
	width: 65%;
	height: 100%;
	margin-bottom: 0px;
}

#search
{
	background-color: #DBDBDB;
	width: calc(100% - 37px);
	height: 35px;
	border: 0;
	font-size: 14px;
	color: #444;
	padding: 1px 28px 1px 8px;
	border-right: 1px solid #292531;
	border-bottom: 1px solid #292531;
	-webkit-transition: background-color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms;
	-o-transition: background-color ease-out 200ms;
	transition: background-color ease-out 200ms;
}
#search:hover
{
	background-color: #E2E2E2;
}

#search-clear::after
{
	content: "✕";
	width: 11px;
	height: 18px;
	position: absolute;
	right: 5px;
	top: 4px;
	padding: 5px;
	font-size: 13px;
	color: #AAA;
	cursor: pointer;
	display: block;
	pointer-events: none;
	opacity: 0;
	-webkit-transition: opacity ease-out 200ms;
	-moz-transition: opacity ease-out 200ms;
	-o-transition: opacity ease-out 200ms;
	transition: opacity ease-out 200ms;
}
#search-clear.visible::after
{
	pointer-events: all;
	opacity: 1;
}

#items
{
	overflow-y: scroll;
	height: calc(100% - 38px);
	position: relative;
}
#items:empty::after, #items.filtered.all-hidden::after
{
	content: "The playlist is empty, use the input field above to add tracks.";
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #888198;
}
#items.filtered:empty::after, #items.filtered.all-hidden::after
{
	content: "Found no tracks matching the query in the current playlist.";
}
#items.no-active-playlist:empty::after
{
	content: "No active playlist.";
}
#items.search-results:empty::after
{
	content: "Found no tracks matching the query in the Raesonic database.";
}

.item, .item.odd
{
	height: 40px;
	overflow: hidden;
	color: #E8E8E8;
	background-color: #353040;
	font-size: 16px;
	-webkit-transition: background-color ease-out 200ms, color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms, color ease-out 200ms;
	-o-transition: background-color ease-out 200ms, color ease-out 200ms;
	transition: background-color ease-out 200ms, color ease-out 200ms;
}
.item:hover, item.odd:hover
{
	background-color: #3D3749;
}
.item:not(.odd):nth-child(even), .item.even
{
	background-color: #423B4E;
}
.item:not(.odd):nth-child(even):hover, .item.even:hover
{
	background-color: #494257;
}
.item.adding, item.adding.odd
{
	background-color: #686076 !important;
}
.item.adding
{
	background-color: #5B536A !important;
}
.item.hidden
{
	display: none;
}
.item.active
{
	background-color: #D8C7FF !important;
	color: #3A3745 !important;
}
.item.active .artist, .item.active .title span
{
	color: rgba(58, 55, 69, 0.5) !important
}
.item.active .artist span
{
	color: #3A3745 !important;
}
.item.active > .icon
{
	-webkit-filter: brightness(0.15) sepia(1) hue-rotate(200deg);
	-webkit-transition: -webkit-filter ease-out 200ms;
	-moz-transition: -webkit-filter ease-out 200ms;
	-o-transition: -webkit-filter ease-out 200ms;
	transition: -webkit-filter ease-out 200ms;
}
.item.active:hover
{
	background-color: #DFCEFF !important;
}

.item .artist
{
	width: calc(44% - 70px);
	cursor: pointer;
	color: rgba(232, 232, 232, 0.8);
}
.item .title
{
	width: calc(56% - 70px);
	margin-right: 20px;
}
.item .artist, .item .title
{
	display: inline-block;
	padding: 10px 8px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* Artist/title formatting */
.item .artist span
{
	color: #E8E8E8;
}
.item .title span
{
	margin-left: 5px;
	color: rgba(232, 232, 232, 0.8);
}
.item > .icon
{
	display: inline-block;
	width: 26px;
	height: 26px;
	margin: 6px 10px 0 0;
	float: right;
	opacity: 0.95;
	position: relative;
	cursor: pointer;
	-webkit-transition: color ease-out 200ms;
	-moz-transition: color ease-out 200ms;
	-o-transition: color ease-out 200ms;
	transition: color ease-out 200ms;
}
.item > .icon:after
{
	content: '';
	display: block;
	position: absolute;
	width: 24px;
	height: 24px;
	top: 1px;
	left: -1px;
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 2px;
	-webkit-transition: border-color ease-out 200ms;
	-moz-transition: border-color ease-out 200ms;
	-o-transition: border-color ease-out 200ms;
	transition: border-color ease-out 200ms;
}
.item > .icon:hover:after
{
	border: 1px solid rgba(255, 255, 255, 0.8);
}
.item.active > .icon:hover:after
{
	border: 1px solid #3A3745;
}
.item > .icon.disabled
{
	opacity: 0.2;
	cursor: default;
}
#add-list
{
	position: absolute;
	width: 50%;
	max-height: 185px;
	top: 100%;
	right: 0;
	z-index: 1;
	overflow-y: scroll;
}
#add-list::-webkit-scrollbar
{
	height: 12px;
	width: 13px;
	background: #B5B5B5;
	border-left: 1px solid #797979;
	border-right: none;
}
#add-list::-webkit-scrollbar-thumb
{
	background: #E8E8E8;
	border-left: 1px solid #797979;
	border-right: none;
}
.item.active #add-list
{
	border-top: 1px solid #797979;
}
.item.active #add-list.aligned
{
	border-top: none;
}
#add-list .list-element
{
	padding: 4px 5px 2px 5px;
	position: relative;
	background-color: #E4D6FF;
	cursor: pointer;
	white-space: nowrap;
	color: #3A3745;
	font-size: 13px;
	-webkit-transition: background-color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms;
	-o-transition: background-color ease-out 200ms;
	transition: background-color ease-out 200ms;
}
#add-list .list-element:hover
{
	background-color: #ECE0FF;
}
#add-list .list-element:nth-child(even)
{
	background-color: #F2EBFF;
}
#add-list .list-element:nth-child(even):hover
{
	background-color: #F8F5FF;
}
#add-list .list-element .icon
{
	display: inline-block;
	-webkit-filter: brightness(0.2) sepia(1) hue-rotate(200deg);
	margin-top: 1px;
}
#add-list .list-element .label
{
	display: inline-block;
	vertical-align: 4px;
	width: calc(100% - 33px);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#add-list .list-element span.access
{
	margin-left: 4px;
	font-size: 11px;
}
#add-list .list-element span.padded
{
	margin-left: 4px;
}

#overlay
{
	position: absolute;
	top: 0;
	z-index: 2;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hidden
{
	visibility: hidden;
}

#window
{
	background-color: #E7E7E8;
	width: 350px;
	position: relative;
	margin-right: 14px;
}
#window-header
{
	width: calc(100% - 40px);
	background-color: #3D3749;
	padding: 15px 20px;
	color: #EBEBEB;
	font-size: 17px;
}
#window-header h2
{
	margin: 0;
	font-size: 17px;
	font-weight: normal;
}
#window p
{
	padding: 20px 20px 0 20px;
	line-height: 15px;
	font-size: 14px;
}
#window p.semitext
{
	line-height: 17px;
}
#window p.text
{
	line-height: 20px;
}
#window p.subject
{
	background-color: #F5F5F5;
	color: #3D3749;
	font-size: 14px;
	line-height: 20px;
	margin-top: 10px;
	padding: 3px 20px 3px 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#window p.subject.content
{
	padding-left: 77px;
}
#window p.subject span.padded
{
	margin-left: 2px;
	opacity: 0.8;
}
#window p.subject span.removed
{
	display: none;
}
#window p.extra.subject
{
	margin-top: 3px;
}
#window p.final.subject
{
	margin-bottom: 20px;
}
#window p a, #window label a
{
	text-decoration: none;
	display: inline-block;
	margin-top: 5px;
	padding-bottom: 2px;
	border-bottom: 1px solid rgba(85, 77, 102, 0.3);
	color: #554D66;
	-webkit-transition: padding-right ease-out 200ms, border-color ease-out 200ms;
	-moz-transition: padding-right ease-out 200ms, border-color ease-out 200ms;
	-o-transition: padding-right ease-out 200ms, border-color ease-out 200ms;
	transition: padding-right ease-out 200ms, border-color ease-out 200ms;
}
#window p a:hover, #window label a:hover
{
	padding-right: 5px;
	border-bottom: 1px solid rgba(85, 77, 102, 0.6);
}
#window p a.inline:hover, #window label a.inline:hover
{
	padding-right: 0 !important;
}
#window a.block
{
	background-color: #555;
	color: #F7F7F7;
	padding: 4px 5px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: border-color ease-out 200ms, background-color ease-out 200ms;
	-moz-transition: border-color ease-out 200ms, background-color ease-out 200ms;
	-o-transition: border-color ease-out 200ms, background-color ease-out 200ms;
	transition: border-color ease-out 200ms, background-color ease-out 200ms;
}
#window a.block:hover
{
	border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}
#window a.block.discord
{
	background-color: #7289DA;
}
#window a.block.discord:hover
{
	background-color: #6279CA;
}
#window a.block.twitter
{
	background-color: #55ACEE;
}
#window a.block.twitter:hover
{
	background-color: #459CDE;
}
#window .content-thumbnail
{
	width: 47px;
	height: 47px;
	position: absolute;
	left: 20px;
	margin-top: -47px;
	object-fit: contain;
	background-color: #000;
}
#window input
{
	background: none;
	width: calc(100% - 40px);
	height: 30px;
	display: block;
	border: 0;
	border-bottom: 1px solid rgba(59, 55, 74, 0.2);
	font-size: 14px;
	color: #444;
	margin: 15px 20px 0 20px;
	-webkit-transition: border-color ease-out 200ms, box-shadow ease-out 200ms;
	-moz-transition: border-color ease-out 200ms, box-shadow ease-out 200ms;
	-o-transition: border-color ease-out 200ms, box-shadow ease-out 200ms;
	transition: border-color ease-out 200ms, box-shadow ease-out 200ms;
}
#window input:focus
{
	border-bottom: 1px solid #75698C;
	box-shadow: 0px -1px 0 0 #75698C inset;
}
#window input:read-only
{
	opacity: 0.6;
}
#window input:read-only:focus
{
	border-bottom: 1px solid rgba(59, 55, 74, 0.2);
	box-shadow: none;
}
#window .checkbox-container
{
	height: 46px;
	overflow: hidden;
}
#flag-malicious-container
{
	margin: -21px 0px 20px 1px;
}
#window input[type="checkbox"]
{
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: -8px;
	margin: 20px 0 0 20px;
	-webkit-appearance: none;
	border: 1px solid #B2AFB6;
	border-radius: 1px;
	cursor: pointer;
	-webkit-transition: background-color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms;
	-o-transition: background-color ease-out 200ms;
	transition: background-color ease-out 200ms;
}
#window input[type="checkbox"]:focus
{
	border: 1px solid #B2AFB6;
	box-shadow: none;
}
#window input[type="checkbox"]:checked
{
	background-color: #CCC;
}
#window input[type="checkbox"]::after
{
	content: '';
	display: block;
	position: absolute;
	width: 11px;
	height: 11px;
	margin: 6px;
	border-radius: 1px;
	background-color: rgba(117, 105, 140, 0);
	-webkit-transition: background-color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms;
	-o-transition: background-color ease-out 200ms;
	transition: background-color ease-out 200ms;
}
#window input[type="checkbox"]:hover::after
{
	background-color: rgba(117, 105, 140, 0.2);
}
#window input[type="checkbox"]:checked::after
{
	background-color: #75698C;
}
#window input[type="checkbox"].disabled
{
	opacity: 0.6;
	cursor: default;
}
#window input[type="checkbox"].disabled:hover::after
{
	background-color: rgba(117, 105, 140, 0);
}
#window input[type="checkbox"].disabled:checked::after
{
	background-color: #75698C;
}
#window .checkbox-container.animated input[type="checkbox"]::after
{
	background-color: rgba(117, 105, 140, 0) !important;
}
#window input[type="radio"]
{
	width: 27px;
	height: 27px;
	display: inline-block;
	vertical-align: -8px;
	margin: 12px 0 0 20px;
	-webkit-appearance: none;
	border: 1px solid #B2AFB6;
	border-radius: 100%;
	cursor: pointer;
	-webkit-transition: background-color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms;
	-o-transition: background-color ease-out 200ms;
	transition: background-color ease-out 200ms;
}
#window input[type="radio"]:focus
{
	border: 1px solid #B2AFB6;
	box-shadow: none;
}
#window input[type="radio"]:checked
{
	background-color: #CCC;
}
#window input[type="radio"]::after
{
	content: '';
	display: block;
	position: absolute;
	width: 13px;
	height: 13px;
	margin: 6px;
	border-radius: 100%;
	background-color: rgba(117, 105, 140, 0);
	-webkit-transition: background-color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms;
	-o-transition: background-color ease-out 200ms;
	transition: background-color ease-out 200ms;
}
#window input[type="radio"]:hover::after
{
	background-color: rgba(117, 105, 140, 0.2);
}
#window input[type="radio"]:checked::after
{
	background-color: #75698C;
}
#window input[type="radio"]:disabled
{
	opacity: 0.6;
	cursor: default;
}
#window input[type="radio"]:disabled:hover::after
{
	background-color: rgba(117, 105, 140, 0);
}
#window input[type="radio"]:disabled:checked::after
{
	background-color: #75698C;
}
#window input.with-state
{
	margin-bottom: 15px;
}
#email-password
{
	margin-top: 25px !important;
}
#window input.error
{
	border-bottom: 1px solid #C10000;
	box-shadow: 0px -1px 0 0 #C10000 inset;
}
#window .input-state
{
	width: calc(100% - 40px);
	padding: 0px;
	font-size: 13px;
	text-align: left;
	position: absolute;
	margin: -15px 20px 0 20px;
	color: #888;
}
#window .input-state.success
{
	color: #00A100;
}
#window .input-error
{
	width: calc(100% - 40px);
	padding: 0px;
	font-size: 13px;
	text-align: right;
	color: #A10000;
	position: absolute;
	margin: 0 20px 0 20px;
}
#window .input-error.with-state
{
	margin-top: -15px;
}
#window label
{
	display: inline-block;
	width: 265px;
	color: #3D3749;
	font-size: 14px;
	padding: 4px 0 4px 12px;
	cursor: pointer;
}
#window label.disabled
{
	cursor: default;
}
#window label:last-of-type
{
	margin-bottom: 20px;
}
#window label span
{
	margin-left: 7px;
	opacity: 0.6;
}
#window label .flag.icon
{
	display: inline-block;
	-webkit-filter: brightness(0.15) sepia(1) hue-rotate(200deg);
	opacity: 0.25;
	margin-left: 2px;
	vertical-align: -2px;
}
#window .checkbox-container label
{
	margin-bottom: 0;
}
#window button
{
	background: none;
	border: none;
	float: right;
	margin: 13px 13px 12px 0;
	text-align: right;
	color: #CCC;
	padding: 7px;
	font-size: 10px;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-transition: color ease-out 200ms;
	-moz-transition: color ease-out 200ms;
	-o-transition: color ease-out 200ms;
	transition: color ease-out 200ms;
}
#window button:hover:not(.disabled)
{
	color: #EEE;
}
#window button.disabled
{
	color: #AAA;
	cursor: default;
}
#window-separator
{
	height: 25px;
}
.window-link
{
	background-color: #1D1D1D;
	color: #808080;
	padding: 12px 20px;
	cursor: pointer;
	-webkit-transition: background-color ease-out 200ms, color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms, color ease-out 200ms;
	-o-transition: background-color ease-out 200ms, color ease-out 200ms;
	transition: background-color ease-out 200ms, color ease-out 200ms;
}
.window-link:hover
{
	background-color: #222;
}
.window-link.inner
{
	background-color: #504860;
	color: #EBEBEB;
}
.window-link.inner:hover
{
	background-color: #5F586F;
}
.window-link.inner:nth-child(even)
{
	background-color: #494257;
}
.window-link.inner:nth-child(even):hover
{
	background-color: #585167;
}
a.window-link
{
	text-decoration: none;
	display: block;
}
.window-link .icon
{
	font-size: 10px;
	margin-left: 4px;
}
#window #signup-terms-container
{
	height: 50px;
	margin-bottom: -4px;
}
#signup-terms-label
{
	line-height: 13px;
	vertical-align: -7px;
}
#signup-terms-label span
{
	font-size: 13px;
	margin: 0 !important;
	opacity: 1 !important;
}

#article
{
	position: absolute;
	top: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	cursor: pointer;
	background-color: rgba(215, 215, 216, 0.8);
	-webkit-transition: background-color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms;
	-o-transition: background-color ease-out 200ms;
	transition: background-color ease-out 200ms;
}
#article.transparent
{
	background-color: rgba(215, 215, 216, 0.4);
}
#article::-webkit-scrollbar
{
	height: 12px;
	width: 13px;
	background: rgba(181, 181, 181, 1);
	border-left: 1px solid rgba(121, 121, 121, 1);
	border-right: none;
}
#article::-webkit-scrollbar-thumb
{
	background: rgba(232, 232, 232, 1);
	border-left: 1px solid rgba(121, 121, 121, 1);
	border-right: none;
}
#article.transparent::-webkit-scrollbar
{
	background: rgba(181, 181, 181, 0.2);
	border-left: 1px solid rgba(121, 121, 121, 0.2);
}
#article.transparent::-webkit-scrollbar-thumb
{
	background: rgba(232, 232, 232, 0.2);
	border-left: 1px solid rgba(121, 121, 121, 0.2);
}
#article-contents
{
	background-color: #F3F3F3;
	width: 74%;
	min-height: calc(100% - 40px);
	margin-left: calc(13% - 40px);
	padding: 20px 40px;
	cursor: default;
}
#article-contents h1
{
	margin: 10px 0 0 0;
	color: #333;
	font-size: 28px;
	font-weight: normal;
}
#article .clock.icon
{
	display: inline-block;
	-webkit-filter: brightness(0.55);
	margin-right: 2px;
}
#article .revision-date
{
	display: inline-block;
	vertical-align: 2px;
	margin: 5px 0 20px 0;
	color: #555;
	font-size: 14px;
}
#article .revision-date span
{
	margin-left: 4px;
}
#article-contents p
{
	font-size: 14px;
}
#article-contents > ul
{
	list-style-type: decimal;
	margin: 10px 0 0 0;
	padding: 0 0 0 15px;
}
#article-contents > ul > li
{
	margin-bottom: 30px;
}
#article-contents > ul > li > ul
{
	list-style-type: lower-alpha;
	margin: 15px 0 0 0;
	padding: 0 0 0 20px;
}
#article-contents > ul > li > ul > li
{
	margin-bottom: 10px;
	line-height: 30px;
}
#article-contents .frame-label
{
	width: 45px;
	display: inline-block;
	text-align: right;
	margin-right: 8px;
}
#article-contents .frame
{
	background-color: #EEE;
	border: 1px solid #DDD;
	border-radius: 2px;
	padding: 0 4px 1px 4px;
}
#article-contents .frame.red
{
	background-color: #EDD;
	border: 1px solid #D88;
}
#article-contents .frame.green
{
	background-color: #DDF2DD;
	border: 1px solid #8D8;
}
#article-contents .frame u
{
	text-decoration: none;
	padding-bottom: 1px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

#toast
{
	position: relative;
	bottom: 100%;
	z-index: 4;
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
}
#toast-message
{
	padding: 10px 20px;
	margin-right: 14px;
	background-color: #BBB;
}
#toast-message.info
{
	background-color: #47AFD1;
}
#toast-message.error
{
	background-color: #DDB43C;
}

#content-right
{
	width: 35%;
	min-width: 480px;
	min-height: 270px;
	background-color: #EBEBEB;
	display: flex !important;
	flex-direction: column;
}

#media
{
	background-color: #000;
	width: 100%;
	height: 19.68vw;
	min-width: 480px;
	min-height: 270px;
	flex-shrink: 0;
}

#video
{
	display: none;
	position: relative;
}
#video-iframe
{
	height: 19.68vw;
	min-width: 480px;
	min-height: 270px;
}

#hd::after
{
	content: "HD";
	position: absolute;
	left: 14px;
	bottom: 12px;
	color: rgba(255, 255, 255, 0.55);
	text-shadow: rgba(0, 0, 0, 0.05) 1px 1px 0px;
	font-size: 32px;
	font-weight: bold;
	cursor: pointer;
	display: block;
}
#hd:hover::after { color: rgba(255, 255, 255, 0.8); }
#hd.disabled::after
{
	color: rgba(255, 255, 255, 0.15);
	text-shadow: rgba(0, 0, 0, 0.02) 1px 1px 0px;
}
#hd.disabled:hover::after { color: rgba(255, 255, 255, 0.4); }

#cover
{
	height: 100%;
	position: relative;
}
#cover:empty
{
	background-color: #19181D;
}
#cover:empty::after
{
	content: "Select a track from the left to play it";
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #717171;
}
#cover .content-error
{
	height: 100%;
	color: #717171;
	text-align: center;
	padding-top: 27%;
}
#cover .back
{
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	margin: 0;
	position: absolute;
	overflow: hidden;
}
#cover .back img
{
	width: 100%;
	height: auto;
	margin-top: -19.9%;
	opacity: 0.1;
	-webkit-filter: blur(5px);
}
#cover .front img
{
	width: 56.2%;
	height: auto;
	margin-left: 21.9%;
	position: relative;
}

#creator
{
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 21.9%;
	width: 56.2%;
	padding: 10px 0;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	color: #EBEBEB;
}

#soundcloud
{
	position: absolute;
	right: 17px;
	bottom: 9px;
	opacity: 0.55;
}
#soundcloud:hover
{
	opacity: 0.8;
}

#content-right > .meta
{
	background-color: #383243;
	padding-left: 8px;
	flex-shrink: 0;
	color: #FFF;
	padding-right: 50px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#meta-artist
{
	height: 20px;
	padding-top: 4px;
	border-top: 1px solid rgba(41, 37, 49, 0.5);
	color: rgba(171, 161, 206, 0.5) !important;
}
#meta-artist:empty::after
{
	content: "No active track";
	color: #ABA1CE !important;
}
#meta-artist span
{
	cursor: pointer;
	color: #ABA1CE !important;
	-webkit-transition: color ease-out 200ms;
	-moz-transition: color ease-out 200ms;
	-o-transition: color ease-out 200ms;
	transition: color ease-out 200ms;
}
#meta-artist span:hover { color: #BBB1DE !important; }
#meta-title
{
	height: 27px;
	font-size: 21px;
	padding-bottom: 4px;
	border-bottom: 1px solid rgba(41, 37, 49, 0.5);
	color: #E5E0FA !important;
	cursor: pointer;
	-webkit-transition: color ease-out 200ms;
	-moz-transition: color ease-out 200ms;
	-o-transition: color ease-out 200ms;
	transition: color ease-out 200ms;
}
#meta-title:hover { color: #F5F0FF !important; }
#meta-title:empty { cursor: default; }
#meta-title:empty:hover { color: #E5E0FA !important; }
#meta-title:empty::after { content: "–"; }
#meta-title span
{
	opacity: 0.8;
	font-size: 14px;
}

#loop, #shuffle
{
	position: absolute;
	right: 5px;
	opacity: 0.3;
	cursor: pointer;
	-webkit-filter: brightness(0.8) sepia(1) hue-rotate(215deg);
	-webkit-transition: opacity ease-out 200ms, -webkit-filter ease-out 200ms;
	-moz-transition: opacity ease-out 200ms, -webkit-filter ease-out 200ms;
	-o-transition: opacity ease-out 200ms, -webkit-filter ease-out 200ms;
	transition: opacity ease-out 200ms, -webkit-filter ease-out 200ms;
}
#loop:hover, #shuffle:hover
{
	opacity: 0.6;
	-webkit-filter: brightness(0.9) sepia(1) hue-rotate(215deg);
}
#loop
{
	margin-top: -51px;
}
#loop.active
{
	opacity: 1;
	-webkit-filter: brightness(0.55) sepia(1) hue-rotate(215deg);
}
#shuffle
{
	margin-top: -32px;
}
#shuffle.active
{
	opacity: 1;
	-webkit-filter: brightness(0.8) sepia(1) hue-rotate(200deg);
}

#tabs
{
	flex: 1;
	position: relative;
}

#tabs-menu, #tabs .section-menu
{
	background-color: #4F495A;
	display: flex;
	align-items: center;
}
#tabs-menu > div, #tabs .section-menu > div
{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 10px 0;
	font-size: 18px;
	color: #FFF;
	cursor: pointer;
	-webkit-transition: background-color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms;
	-o-transition: background-color ease-out 200ms;
	transition: background-color ease-out 200ms;
}
#tabs-menu > div:hover, #tabs .section-menu > div:hover
{
	background-color: #615B6B;
}
#tabs-menu > div.active, #tabs-menu > div.active:hover,
#tabs .section-menu > div.active, #tabs .section-menu > div.active:hover
{
	background-color: #3F394C;
	cursor: default;
}
#tabs-menu > div .label::after, #tabs .section-menu > div .label::after
{
	display: block;
	width: 0;
	font-size: 14px;
	margin-left: 0;
	opacity: 0;
	overflow: hidden;
	-webkit-transition: opacity ease-out 200ms, margin-left ease-out 200ms;
	-moz-transition: opacity ease-out 200ms, margin-left ease-out 200ms;
	-o-transition: opacity ease-out 200ms, margin-left ease-out 200ms;
	transition: opacity ease-out 200ms, margin-left ease-out 200ms;
}
#tabs-menu > div.active .label::after, #tabs-menu > div:hover .label::after,
#tabs .section-menu > div.active .label::after, #tabs .section-menu > div:hover .label::after
{
	margin-left: 8px;
	width: initial;
	opacity: 0.7;
}

#menu-related .label::after
{
	content: "Related";
}
#menu-content .label::after
{
	content: "Content";
}
#menu-history .label::after
{
	content: "History";
}

#tabs-overlay
{
	position: absolute;
	background-color: #565062;
	width: 100%;
	height: 100%;
	bottom: 0;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity ease-out 500ms;
	-moz-transition: opacity ease-out 500ms;
	-o-transition: opacity ease-out 500ms;
	transition: opacity ease-out 500ms;
}
#tabs-overlay.visible
{
	opacity: 1;
	pointer-events: all;
}

#tabs .tab-contents
{
	display: none;
	align-items: center;
	height: calc(100% - 37px);
	position: relative;
	overflow: hidden;
}
#tabs .tab-contents.active
{
	display: flex;
}

#tabs .tab-contents .icon
{
	cursor: pointer;
}
#tabs .tab-contents .active.icon
{
	-webkit-filter: brightness(0.46) sepia(1) hue-rotate(-30deg) contrast(2);
	opacity: 1;
}
#tabs .tab-contents .arrowup.active, #related-flag.active
{
	-webkit-filter: brightness(1.85) sepia(1) hue-rotate(-25deg) contrast(2.8) !important;
}
#tabs .tab-contents .icon.inactive, #tabs .tab-contents .icon.disabled
{
	opacity: 0.2;
	cursor: default;
}
#tabs .column
{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 13.1vw;
	position: relative;
}
#tabs .column-item
{
	height: 8.8vw;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: wrap;
	flex-wrap: wrap;
	position: relative;
}
#tabs .column-item .overlay-icon
{
	height: calc(50% + 20px);
	width: 100%;
	display: flex;
	justify-content: center;
	padding: calc(50% - 20px) 0 0 0 !important;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	cursor: default;
	-webkit-transition: all ease-out 200ms;
	-moz-transition: all ease-out 200ms;
	-o-transition: all ease-out 200ms;
	transition: all ease-out 200ms;
}
#tabs .column-item .overlay-icon .icon
{
	cursor: inherit;
}
#tabs .column-item .overlay-icon:hover
{
	opacity: 0.6;
}
#tabs .column-item .overlay-icon.active
{
	opacity: 1;
	cursor: pointer;
}
#tabs .column .image-wrapper
{
	width: 8.8vw !important;
	height: 8.8vw;
	background: #000;
	position: relative;
	overflow: hidden;
	-webkit-filter: brightness(0.4);
}
#tabs .column .image-wrapper img
{
	width: 8.8vw;
}
#tabs .column .image-wrapper img.wide
{
	position: absolute;
	left: 0;
	top: 12%;
	object-fit: contain;
}
#tabs .column .meta
{
	position: absolute;
	width: 130%;
	bottom: 3%;
	left: -15%;
	text-align: center;
}
#tabs .column .meta-title
{
	font-size: 14px;
	margin-bottom: 2px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: #000;
}
#tabs .column .meta-artist
{
	font-size: 16px;
	color: rgba(0, 0, 0, 0.8);
}
/* Artist/title formatting */
#tabs .column .meta-title span
{
	margin-left: 2px;
	color: rgba(0, 0, 0, 0.8);
}
#tabs .column .meta-artist span
{
	color: #000;
}
#tabs .section
{
	background-color: #E2E2E2;
	width: 100%;
	height: calc(100% - 42px);
	overflow-y: scroll;
	display: none;
	border-bottom: 1px solid #3A3A3A;
	-webkit-transition: height ease-out 200ms;
	-moz-transition: height ease-out 200ms;
	-o-transition: height ease-out 200ms;
	transition: height ease-out 200ms;
}
#tabs .section.active
{
	display: block;
}
#tabs .section::-webkit-scrollbar
{
	height: 12px;
	width: 13px;
	background: #B5B5B5;
	border-left: 1px solid #797979;
	border-right: none;
}
#tabs .section::-webkit-scrollbar-thumb
{
	background: #E8E8E8;
	border-left: 1px solid #797979;
	border-right: none;
}
#tabs .section .action
{
	background-color: #F2F2F2;
	display: flex;
	flex-direction: row;
	padding: 6px 8px;
}
#tabs .section .action:nth-child(even)
{
	background-color: #E2E2E2;
}
#tabs .action .changes
{
	flex: 3 0 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#tabs .changes .added
{
	background-color: #85E485;
}
#tabs .changes .removed
{
	background-color: #F19090;
}
#tabs .action .details
{
	flex: 1 0 0;
	text-align: right;
}
#tabs .action .artist, #tabs .action .date
{
	font-size: 13px;
}
#tabs .action .icon
{
	font-size: 14px;
	margin: 0 3px 0 5px;
	vertical-align: -2px;
	display: inline-block;
	-webkit-filter: brightness(0.15) sepia(1) hue-rotate(200deg);
	opacity: 0.3;
	-webkit-transition: opacity ease-out 200ms;
	-moz-transition: opacity ease-out 200ms;
	-o-transition: opacity ease-out 200ms;
	transition: opacity ease-out 200ms;
}
#tabs .action .icon:hover
{
	opacity: 1;
}
#tabs .action .icon.disabled, #tabs .action .icon.disabled:hover
{
	cursor: default;
	opacity: 0.1;
}
#tabs .action .clock.icon
{
	vertical-align: -3px;
	cursor: default;
}
#tabs .section-menu
{
	width: 100%;
	height: 41px;
	overflow: hidden;
}
#tabs .section-menu > div
{
	background-color: #97939F !important;
	height: 23px;
	padding-top: 13px;
	text-shadow: 0 0 1px #000;
}
#tabs .section-menu > div:hover
{
	background-color: #8A8593 !important;
}
#tabs .section-menu > div.active
{
	background-color: #7D7788 !important;
}
#tabs .tab-overlay
{
	background-color: #EBEBEB;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	cursor: pointer;
}
#tabs .tab-overlay > .icon
{
	font-size: 60px;
}
#tabs .tab-overlay > .label::after
{
	display: block;
	font-size: 18px;
	margin-top: 10px;
	color: #3D3749;
}

#tab-related .column-item.icon
{
	height: 40px;
	margin-top: calc(4.4vw - 20px);
}
#related-rating
{
	padding-right: 1px;
	font-size: 21px;
	margin: 7px 0;
	width: 100%;
	display: flex;
	justify-content: center;
}
#related-overlay .label::after
{
	content: "View recommendations";
}

#tab-content .column-item.icon
{
	height: 40px;
	margin-top: calc(4.4vw - 20px);
}
#tab-content .content-info
{
	position: absolute;
	bottom: calc(35% - 57px);
	left: 0;
	width: 90%;
	padding: 0 5%;
	text-align: center;
}
#tab-content .content-info div
{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#tab-content .content-info .info-author
{
	font-size: 20px;
}

#tab-history
{
	flex-direction: column;
	position: absolute !important;
	width: 100%;
}
#tab-history .section:empty::after
{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #7A7A7A;
}
#history-track-edits:empty::after
{
	content: "No track name changes.";
}
#history-content-links:empty::after
{
	content: "No content associations.";
}
#history-menu-track-edits .label::after
{
	content: "Track name changes";
}
#history-menu-content-links .label::after
{
	content: "Content associations";
}


/* Controls */

#controls
{
	background-color: #3A3546;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	border-top: 1px solid rgba(41, 37, 49, 0.5);
	padding-right: 20px;
	box-sizing: border-box;
	position: relative;
}

#controls > .icon
{
	cursor: pointer;
	margin: 3px 3px 6px 3px;
	opacity: 1;
	flex-shrink: 0;
	-webkit-transition: opacity ease-out 200ms;
	-moz-transition: opacity ease-out 200ms;
	-o-transition: opacity ease-out 200ms;
	transition: opacity ease-out 200ms;
}
#controls > .icon:hover
{
	opacity: 0.7;
}
#previous
{
	margin-left: 5px !important;
}
#play
{
	margin: 3px 6px 6px 10px !important;
}
#pause
{
	margin: 3px 8px 6px 8px !important;
	display: none;
}

#controls .time
{
	margin: 0 10px 3px 10px;
	font-size: 14px;
	color: #BDBCBF;
}
#controls .time:empty::after
{
	content: "00:00";
}

.bar
{
	width: 100%;
	height: 5px;
	display: inline-block;
	cursor: pointer;
	border-radius: 2px;
	margin: 0 3px 2px 3px;
	padding: 8px 0;
	position: relative;
}
.bar > div
{
	background-color: #5A516C;
	width: 0%;
	height: 5px;
	border-radius: 2px;
	position: absolute;
	top: 8px;
}
.bar .back
{
	background-color: #464054;
	width: 100%;
}
.bar .buffer
{
	background-color: #5A516C;
}
.bar .fill
{
	background-color: #A299B2;
	overflow: visible !important;
}
.bar .fill::after
{
	content: '';
	display: block;
	position: absolute;
	top: -5px;
	right: -7px;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	background-color: #fff;
}
.bar .tip
{
	position: absolute;
	width: 63px;
	right: -31px;
	top: -21px;
	font-size: 12px;
	text-align: center;
	color: #A299B2;
	opacity: 0;
	pointer-events: none;
	-webkit-transition: opacity ease-out 200ms;
	-moz-transition: opacity ease-out 200ms;
	-o-transition: opacity ease-out 200ms;
	transition: opacity ease-out 200ms;
}
.bar .fill:hover .tip, .bar .tip.visible
{
	opacity: 1;
}
#seekbar-tip:empty::after
{
	content: "00:00";
}
#volume
{
	width: 15%;
	margin: 0 0 2px 0;
}
#volume-on
{
	width: 100%;
}
#volume-tip:empty::after
{
	content: "80%";
}

#speaker
{
	display: block;
	position: relative;
	margin: 3px 0 6px 8px !important;
}
#muted
{
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}


/* Loading */

#loading
{
	background-color: #1B1820;
	width: 100%;
	height: calc(100% - 50px);
	position: absolute;
	top: 50px;
	z-index: 10;
}

@-webkit-keyframes spinner-animation
{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@-moz-keyframes spinner-animation
{
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); }
}

#spinner
{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	-webkit-animation: spinner-animation 1s linear infinite;
	-moz-animation: spinner-animation 1s linear infinite;
}

#spinner span
{
	background: #858192;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
}
