html
{
	height: 100%;
	overflow: hidden;
	min-width: 900px;
	min-height: 450px;
}

body
{
	background-color: #272531;
	height: 100%;
	overflow: hidden;
	position: relative;
	font-family: "PT Sans", sans-serif;
}

body, p
{
	margin: 0;
	padding: 0;
	border: 0;
}

textarea
{
	resize: none;
	font-family: Arial;
}

*:focus { outline: none; }
::-webkit-input-placeholder { color: #89878E; }
::-webkit-scrollbar
{
	height: 12px;
	width: 14px;
	background: #3D3749;
	border-left: 1px solid #292531;
	border-right: 1px solid #292531;
}
::-webkit-scrollbar-corner
{
	display: none;
}
::-webkit-scrollbar-thumb
{
	background: #6F6A7C;
	border-left: 1px solid #292531;
	border-right: 1px solid #292531;
}

body
{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}


/* Header */

#header
{
	background-color: #3D3749;
	width: 100%;
	height: 50px;
	min-width: 700px;
	border-bottom: 1px solid #292531;
	text-align: center;
	overflow: hidden;
}

#header .button
{
	width: 294px;
	height: 48px;
	float: left;
	text-align: left;
	line-height: 17px;
	padding: 1px 3px;
	display: none;
	cursor: pointer;
	-webkit-transition: background-color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms;
	-o-transition: background-color ease-out 200ms;
	transition: background-color ease-out 200ms;
}
#header .button:hover
{
	background-color: #453F52;
}
#header-left
{
	width: 288px !important;
	padding-left: 9px !important;
}
#header-right
{
	float: right !important;
	text-align: right !important;
}

#header .button .name
{
	color: #9F98B3;
	font-size: 16px;
	vertical-align: -7px;
	display: inline;
}
#header .button .name:after
{
	content: "\A";
	white-space: pre;
}
#header .button .details
{
	color: #D0CADE;
	font-size: 14px;
	display: inline;
}

#user-avatar
{
	width: 43px;
	height: 43px;
	background-color: #EEE;
	margin: 3px 0 3px 9px;
	border-radius: 1px;
	box-shadow: 0 1px 0 0 #222;
	float: right;
}


/* Content */

#content
{
	background-color: #2E2A37;
	width: 100%;
	height: calc(100% - 101px);
	display: flex;
}

#content .side
{
	display: inline-block;
	height: 100%;
	position: relative;
}

#content-left
{
	width: calc(100% - 480px);
	height: 100%;
	margin-bottom: 0px;
}

#search
{
	background-color: #DBDBDB;
	width: calc(100% - 37px);
	height: 35px;
	border: 0;
	font-size: 14px;
	color: #444;
	padding: 1px 28px 1px 8px;
	border-right: 1px solid #292531;
	border-bottom: 1px solid #292531;
	-webkit-transition: background-color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms;
	-o-transition: background-color ease-out 200ms;
	transition: background-color ease-out 200ms;
}
#search:hover
{
	background-color: #E2E2E2;
}

#search-clear
{
	position: absolute;
	right: 5px;
	top: 4px;
	padding: 5px;
	font-size: 13px;
	color: #AAA;
	cursor: pointer;
	display: none;
}

#items
{
	overflow-y: scroll;
	height: calc(100% - 38px);
}

.item, .item.odd
{
	height: 40px;
	overflow: hidden;
	color: #F2F2F2;
	background-color: #353040;
	font-size: 16px;
	-webkit-transition: background-color ease-out 200ms, color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms, color ease-out 200ms;
	-o-transition: background-color ease-out 200ms, color ease-out 200ms;
	transition: background-color ease-out 200ms, color ease-out 200ms;
}
.item:hover, item.odd:hover
{
	background-color: #3D3749;
}
.item:not(.odd):nth-child(even), .item.even
{
	background-color: #423B4E;
}
.item:not(.odd):nth-child(even):hover, .item.even:hover
{
	background-color: #494257;
}
.item.hidden
{
	display: none;
}
.item.active
{
	background-color: #D8C7FF !important;
	color: #3A3745;
}
.item.active:hover
{
	background-color: #DFCEFF !important;
}

.item .artist
{
	width: calc(44% - 70px);
	cursor: pointer;
}
.item .title
{
	width: calc(56% - 70px);
	margin-right: 20px;
}
.item .artist, .item .title
{
	display: inline-block;
	padding: 10px 8px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.item .icon
{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin: 7px 10px 0 0;
	padding: 5px 5px;
	float: right;
	cursor: pointer;
}
.item .icon:after
{
	content: '';
	display: block;
	position: absolute;
	width: 23px;
	height: 23px;
	top: 1px;
	left: -1px;
	border: 1px solid rgba(255, 255, 255, 0);
	border-radius: 2px;
	-webkit-transition: border-color ease-out 200ms;
	-moz-transition: border-color ease-out 200ms;
	-o-transition: border-color ease-out 200ms;
	transition: border-color ease-out 200ms;
}
.item .icon:hover:after
{
	border: 1px solid rgba(255, 255, 255, 0.8);
}
.item.active .icon:hover:after
{
	border: 1px solid #3A3745;
}
.item .add
{
	margin-bottom: 1px;
	font-size: 18px;
}
.item div span
{
	opacity: 0.8;
}
.item.active div span
{
	opacity: 0.5;
}
.item .title span
{
	margin-left: 5px;
}

#overlay
{
	position: absolute;
	top: 0;
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.hidden
{
	visibility: hidden;
}

#window
{
	background-color: #E7E7E8;
	width: 350px;
	position: relative;
}
#window-header
{
	width: calc(100% - 40px);
	background-color: #3D3749;
	padding: 15px 20px;
	color: #EBEBEB;
	font-size: 17px;
}
#window input
{
	background: none;
	width: calc(100% - 40px);
	height: 30px;
	display: block;
	border: 0;
	border-bottom: 1px solid rgba(59, 55, 74, 0.2);
	font-size: 14px;
	color: #444;
	margin: 15px 20px 0 20px;
	-webkit-transition: border-color ease-out 200ms, box-shadow ease-out 200ms;
	-moz-transition: border-color ease-out 200ms, box-shadow ease-out 200ms;
	-o-transition: border-color ease-out 200ms, box-shadow ease-out 200ms;
	transition: border-color ease-out 200ms, box-shadow ease-out 200ms;
}
#window input:focus
{
	border-bottom: 1px solid #75698C;
	box-shadow: 0px -1px 0 0 #75698C inset;
}
#window input.error
{
	border-bottom: 1px solid #C10000;
	box-shadow: 0px -1px 0 0 #C10000 inset;
}
#window .input-error
{
	width: calc(100% - 40px);
	padding: 0px;
	font-size: 13px;
	text-align: right;
	color: #A10000;
	position: absolute;
	margin: 0 20px 0 20px;
}
#window button
{
	background: none;
	border: none;
	float: right;
	margin: 13px 13px 12px 0;
	text-align: right;
	color: #CCC;
	padding: 7px;
	font-size: 10px;
	cursor: pointer;
	text-transform: uppercase;
	-webkit-transition: color ease-out 200ms;
	-moz-transition: color ease-out 200ms;
	-o-transition: color ease-out 200ms;
	transition: color ease-out 200ms;
}
#window button:hover:not(.disabled)
{
	color: #EEE;
}
#window button.disabled
{
	color: #AAA;
	cursor: default;
}
#window-separator
{
	height: 25px;
}
.window-link
{
	background-color: #1D1D1D;
	color: #808080;
	padding: 12px 20px;
	cursor: pointer;
	-webkit-transition: background-color ease-out 200ms, color ease-out 200ms;
	-moz-transition: background-color ease-out 200ms, color ease-out 200ms;
	-o-transition: background-color ease-out 200ms, color ease-out 200ms;
	transition: background-color ease-out 200ms, color ease-out 200ms;
}
.window-link:hover
{
	background-color: #222;
}
.window-link.inner
{
	background-color: #4E4861;
	color: #EBEBEB;
}
.window-link.inner:hover
{
	background-color: #5E5871;
}
.window-link.inner:nth-child(even)
{
	background-color: #464158;
}
.window-link.inner:nth-child(even):hover
{
	background-color: #565168;
}

#content-right
{
	width: 480px;
	background-color: #EBEBEB;
}

#media
{
	background-color: #000;
	width: 480px;
	height: 270px;
}

#video
{
	display: none;
	position: relative;
}

#hd
{
	position: absolute;
	left: 14px;
	bottom: 12px;
	color: rgba(255, 255, 255, 0.55);
	text-shadow: rgba(0, 0, 0, 0.05) 1px 1px 0px;
	font-size: 32px;
	font-weight: bold;
	cursor: pointer;
	display: none;
}
#hd:hover { color: rgba(255, 255, 255, 0.8); }
#hd.disabled
{
	color: rgba(255, 255, 255, 0.15);
	text-shadow: rgba(0, 0, 0, 0.02) 1px 1px 0px;
}
#hd.disabled:hover { color: rgba(255, 255, 255, 0.4); }

#cover
{
	height: 270px;
	position: relative;
}
#cover:empty
{
	background-color: #19181D;
}
#cover .back
{
	width: 480px;
	height: auto;
	top: -95px;
	left: 0;
	margin: 0;
	position: absolute;
	clip: rect(95px, 480px, 365px, 0px);
	opacity: 0.1;
	-webkit-filter: blur(5px);
}
#cover .front
{
	width: 270px;
	height: 270px;
	margin-left: 105px;
	position: relative;
}

#creator
{
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 105px;
	width: 270px;
	padding: 10px 0;
	text-decoration: none;
	text-align: center;
	font-size: 14px;
	color: #EBEBEB;
}

#soundcloud
{
	position: absolute;
	right: 17px;
	bottom: 9px;
	opacity: 0.55;
}
#soundcloud:hover
{
	opacity: 0.8;
}

.meta
{
	background-color: #383243;
	padding-left: 8px;
	color: #FFF;
}
#meta-artist
{
	height: 20px;
	padding-top: 4px;
	border-top: 1px solid rgba(41, 37, 49, 0.5);
	color: #ABA1CE;
}
#meta-title
{
	height: 27px;
	font-size: 21px;
	padding-bottom: 4px;
	border-bottom: 1px solid rgba(41, 37, 49, 0.5);
	color: #E5E0FA;
}
#meta-artist span
{
	opacity: 0.5;
}
#meta-title span
{
	opacity: 0.8;
	font-size: 14px;
}

#tabs
{
	height: calc(100% - 327px);
}

#tabs-menu, #tabs .section-menu
{
	background-color: #4F495A;
	display: flex;
	align-items: center;
}
#tabs-menu div, #tabs .section-menu div
{
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 10px 0;
	font-size: 18px;
	color: #FFF;
	cursor: pointer;
}
#tabs-menu div:hover, #tabs .section-menu div:hover
{
	background-color: #615B6B;
}
#tabs-menu div.active, #tabs-menu div.active:hover,
#tabs .section-menu div.active, #tabs .section-menu div.active:hover
{
	background-color: #3F394C;
	cursor: default;
}

#tabs .tab-contents
{
	display: none;
	align-items: center;
	height: calc(100% - 38px);
}
#tabs .tab-contents.active
{
	display: flex;
}

#tabs .tab-contents .icon
{
	font-size: 30px;
	color: #3D3749;
	cursor: pointer;
}
#tabs .tab-contents .icon.inactive
{
	color: rgba(61, 55, 74, 0.2);
	cursor: default;
}
#tabs .column
{
	display: flex;
	align-items: flex-start;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 180px;
	position: relative;
}
#tabs .column-item
{
	height: 125px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-flow: wrap;
	flex-wrap: wrap;
	position: relative;
}
#tabs .column-item div
{
	width: 100%;
	display: flex;
	justify-content: center;
}
#tabs .column-item .overlay-icon
{
	height: 85px;
	padding-top: calc(50% - 25px);
	position: absolute;
	top: calc(50% - 60px);
	left: 0;
	color: #FFF;
	font-size: 50px;
	text-shadow: rgba(0, 0, 0, 1) 0 0 4px;
	opacity: 0;
	cursor: default;
	-webkit-transition: all ease-out 200ms;
	-moz-transition: all ease-out 200ms;
	-o-transition: all ease-out 200ms;
	transition: all ease-out 200ms;
}
#tabs .column-item .overlay-icon:hover
{
	opacity: 0.6;
}
#tabs .column-item .overlay-icon.active
{
	opacity: 1;
	cursor: pointer;
}
#tabs .column .image-wrapper
{
	width: 120px !important;
	height: 120px;
	background: #000;
	position: relative;
	overflow: hidden;
	-webkit-filter: brightness(0.4);
}
#tabs .column .image-wrapper img
{
	width: 120px;
}
#tabs .column .image-wrapper img.wide
{
	position: absolute;
	left: 0;
	top: 12%;
	object-fit: contain;
}
#tabs .column .meta
{
	height: 55px;
	width: 125px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	box-sizing: border-box;
	background-color: rgba(0, 0, 0, 0);
	color: #000;
}
#tab-history
{
	flex-direction: column;
}
#tabs .section
{
	background-color: #E2E2E2;
	width: 100%;
	height: 80%;
	overflow-y: scroll;
	display: none;
	border-bottom: 1px solid #3A3A3A;
	-webkit-transition: height ease-out 200ms;
	-moz-transition: height ease-out 200ms;
	-o-transition: height ease-out 200ms;
	transition: height ease-out 200ms;
}
#tabs .section.active
{
	display: block;
}
#tabs .section::-webkit-scrollbar
{
	height: 12px;
	width: 13px;
	background: #B5B5B5;
	border-left: 1px solid #797979;
	border-right: none;
}
#tabs .section::-webkit-scrollbar-thumb
{
	background: #E8E8E8;
	border-left: 1px solid #797979;
	border-right: none;
}
#tabs .section .action
{
	background-color: #F2F2F2;
	display: flex;
	flex-direction: row;
	padding: 6px 8px;
}
#tabs .section .action:nth-child(even)
{
	background-color: #E2E2E2;
}
#tabs .action .changes
{
	flex: 3 0 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
#tabs .changes .added
{
	background-color: #85E485;
}
#tabs .changes .removed
{
	background-color: #F19090;
}
#tabs .action .details
{
	flex: 1 0 0;
	text-align: right;
}
#tabs .action .artist, #tabs .action .date
{
	font-size: 13px;
}
#tabs .section-menu
{
	width: 100%;
	height: 20%;
	overflow: hidden;
}
#tabs .section-menu div
{
	background-color: #97939F !important;
	height: 20px;
	padding-top: 13px;
	color: #FFF !important;
	font-size: 18px !important;
	text-shadow: 0 0 1px #000;
}
#tabs .section-menu div:hover
{
	background-color: #A4A1AA !important;
}
#tabs .section-menu div.active
{
	background-color: #7D7788 !important;
}

#related-rating
{
	padding-right: 1px;
	font-size: 21px;
	margin-top: 2px;
}
#related-downvote
{
	margin-bottom: 11px;
}


/* Controls */

#controls
{
	background-color: #3A3546;
	width: 100%;
	height: 50px;
	display: flex;
	align-items: center;
	border-top: 1px solid rgba(41, 37, 49, 0.5);
	padding-right: 20px;
	box-sizing: border-box;
}

#controls .icon
{
	color: #FFF;
	cursor: pointer;
	padding: 10px;
	margin: 8px;
	font-size: 17px;
}
#controls .icon:hover
{
	color: #BDBCBF;
}
#play
{
	margin: 0 6px 0 12px !important;
	font-size: 21px !important;
}
#pause
{
	margin: 0 7px 0 10px !important;
	font-size: 21px !important;
	display: none;
}

#controls .time
{
	margin: 0 10px 1px 10px;
	font-size: 14px;
	color: #BDBCBF;
}

.bar
{
	background-color: #464054;
	width: 100%;
	height: 5px;
	display: inline-block;
	vertical-align: 4px;
	cursor: pointer;
	border-radius: 2px;
	margin: 0 3px;
	position: relative;
}
.bar .buffer
{
	background-color: #5A516C;
	width: 0%;
	height: 5px;
	border-radius: 2px;
}
.bar .fill
{
	background-color: #A299B2;
	width: 0%;
	height: 5px;
	border-radius: 2px;
	position: absolute;
	top: 0;
	overflow: visible !important;
}
.bar .fill::after
{
	content: '';
	display: block;
	position: absolute;
	top: -5px;
	right: -7px;
	border-radius: 100%;
	width: 15px;
	height: 15px;
	background-color: #fff;
}
#volume
{
	width: 15%;
	margin: 0;
}
#volume-on
{
	width: 100%;
}

#speaker
{
	font-size: 18px !important;
	min-width: 17px;
	display: block;
	position: relative;
}
#muted
{
	color: #575269 !important;
	position: absolute;
	left: -13px;
	top: -12px;
	font-size: 24px !important;
	display: none;
}


/* Loading */

#loading
{
	background-color: #1B1820;
	width: 100%;
	height: calc(100% - 50px);
	position: absolute;
	top: 50px;
	z-index: 10;
}

@-webkit-keyframes spinner-animation
{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@-moz-keyframes spinner-animation
{
	0% { -moz-transform: rotate(0deg); }
	100% { -moz-transform: rotate(360deg); }
}

#spinner
{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	-webkit-animation: spinner-animation 1s linear infinite;
	-moz-animation: spinner-animation 1s linear infinite;
}

#spinner span
{
	background: #858192;
	display: block;
	width: 10px;
	height: 10px;
	border-radius: 100%;
}
